on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure
        run: cmake -B build -A Win32

      - name: Build
        run: cmake --build build --config Release --parallel

      - name: Install
        run: cmake --install build --prefix out

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.event.repository.name}}
          path: out/bin/*

      - name: Compress artifacts
        uses: vimtor/action-zip@v1
        with:
          files: out/bin/
          dest: Kanan.zip

      - name: Release
        uses: softprops/action-gh-release@v0.1.14
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: ${{!startsWith(github.ref, 'refs/tags/v') || contains(github.ref, '-pre')}}
          files: Kanan.zip
